{{#each forums}}
    <li class="list-group-item">
        <p>{{ this.createdOn }}</p>
        <img src={{this.avatar}} class="avatar" alt="Forum creator" />
        <span class="badge">{{ this.comments.length }}</span>
        <a href="forums/{{this._id}}">{{ this.title }}</a>
    </li>
{{/each}}
