{{!-- <script src="/public/js/forum.js"></script> --}}

{{!-- Post --}}
<section class="row">
    {{!-- TODO user avatar --}}
    <div id="viewForum">
        <img src="{{ forum.avatar }}" class="avatar" alt="Forum creator" />
        <h1>
            {{!-- Editing and deleting --}}
            {{#if isOwner}}
                <button onclick="displayEdit()" class="btn btn-default">
                    <i title="Edit Forum" class="fa fa-gear"></i>
                </button>
            {{/if}}
            <span id="forumTitle">{{ forum.title }}</span>
        </h1>
        <p id="forumContent"> {{{ contentToHtml forum.content }}} </p>

        <ul class="nav nav-pills">
            <li>
                <i id="forum-like-button" class="fa fa-thumbs-up hoverLink" aria-hidden="true"></i>
                <span class="badge">{{ forum.likes.length }}</span>
            </li>
            <li>
                <i id="forum-dislike-button" class="fa fa-thumbs-down marginLeft hoverLink" aria-hidden="true"></i>
                <span class="badge">{{ forum.dislikes.length }}</span>
            </li>
        </ul>

        <div id="forumLabels">
        {{#if forum.labels}}
            <h2> Labels </h2>
            <p> {{ forum.labels }} </p>
        {{/if}}
        </div>

        <h2> Clothing </h2>
        <div class="row" id="forumClothing">
        {{#each forum.clothing }}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="/forums/create?c_name={{ URIencode this.name }}&c_url={{ URIencode this.url }}" class="badge">
						New <i class="fa fa-plus landing-header-icon" aria-hidden="true"></i>
					</a>
                    <a href="{{ this.url }}" target="_blank">
                    {{#if this.image}}
                        <img src="{{ this.image }}" alt="{{ this.name }}" />
                    {{else}}
                        <p>{{ this.name }}</p>
                    {{/if}}
                    </a>
                    <div class="caption">
                        <h3>{{ this.name }}</h3>
                        <p>${{ this.price }} </p>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="col-sm-12">
                <span class="text-center list-group-item">
                    No clothing was tagged.
                </span>
            </div>
        {{/each}}
        </div>
        {{!-- TODO tags, clothing, likes, comments  --}}
        <!-- <i class="fa fa-thumbs-up" aria-hidden="true"></i><p> {{ forum.likes.length }}</p> -->
        {{!-- TODO ability to like + comment --}}
        <!-- <i class="fa fa-thumbs-down" aria-hidden="true"></i><p> {{ forum.dislikes.length }}</p> -->
    </div>

    {{#if isOwner}}
    <div id="loadingForum" style="display: none" class="col-md-12">
        <div class="alert alert-warning" role="alert">Updating...</div>
    </div>
    <div id="editForum" style="display: none" class="col-md-10">
        <form class="form-horizontal">

            <input id="forumId" type="hidden" value="{{ forum._id }}"/>

            <div class="form-group">
                <label for="newForumTitle" class="col-sm-2 control-label">
                    Title
                </label>
                <div class="col-sm-10">
                    <input id="newForumTitle" type="text" class="form-control" name="title" value="{{forum.title}}" required />
                </div>
            </div>

            <div class="form-group">
                <label for="newForumContent" class="col-sm-2 control-label">
                    Content
                </label>
                <div class="col-sm-10">
                    <div class="alert alert-info" role="alert">
                        <p><strong>Supported features:</strong></p>
                        <p>Tag clothing items with <strong>#clothing_name[clothing_url]</strong></p>
                        <p>Tag user with <strong>@user</strong></p>
                    </div>
                    <textarea id="newForumContent" class="form-control ldt" name="content" required>{{forum.content}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="newForumLabels" class="col-sm-2 control-label">
                    labels
                </label>
                <div class="col-sm-10">
                    <div class="alert alert-info" role="alert">
                        <p>Seperate labels by commas</p>
                    </div>
                    {{#if forum.labels.length}}
                        <input id="newForumLabels" type="text" class="form-control" name="labels" placeholder="label1,label2,label3" value={{forum.labels}} />
                    {{else}}
                        <input id="newForumLabels" type="text" class="form-control" name="labels" placeholder="label1,label2,label3" value=""/>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="updateForum" class="btn btn-default">Update Forum</button>
                    <button id="cancelUpdateForum" class="btn btn-default">Cancel</button>
                    <button id="deleteForum" class="btn btn-danger floatRight">Delete Forum</button>
                </div>
            </div>
        </form>
    </div>
    {{/if}}

</section>

{{!-- Comments --}}
<section class="row col-md-12">
    <h2> Comments </h2>
    {{!-- Existing Comments --}}
    <ul class="list-group">
    {{#each forum.commentsThread }}
        {{> comment }}
    {{ else }}
        <li class="text-center list-group-item">
            <p> Sorry there are currently no comments to display.</p>
        </li>
    {{/each}}
    </ul>
    {{!-- New Comment --}}
    <form class="form-horizontal" action="/forums/{{ forum._id }}/comments" method="POST">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <p><strong>Supported features:</strong></p>
                    <p>Tag clothing items with <strong>#clothing_name[clothing_url]</strong></p>
                    <p>Tag user with <strong>@user</strong></p>
                </div>
				<textarea class="form-control ldt"
                    aria-label="New Comment"
                    id="content"
                    name="comment"
                    placeholder="Checkout these #Suede Sneakers[http://www.hm.com/us/product/72665]&#10;Credit: @Dillon"
                    required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default">Comment</button>
            </div>
        </div>
    </form>
</section>
<script>
    var forumId = "{{ forum._id }}";
</script>
<script src="/public/js/forum.js"></script>
