<section>
	<h2>User Information</h2>
	<p>
		Username: {{ user.username }}
	</p>
	<p>
		First Name: {{ user.firstName }}
	</p>
	<p>
		Last Name: {{ user.lastName }}
	</p>
	<p>
		Profession: {{ user.profession }}
	</p>
	<p>
		Bio: {{ user.bio }}
	</p>
</section>
