<li id="{{ this._id }}" class="list-group-item">
    <div class="view">
        <span class="floatRight">
            {{#if this.isOwner}}
            <span>
                <i onclick="editComment('{{ this._id }}')" class="fa fa-pencil hoverLink" aria-hidden="true"></i>
                <i onclick="deleteComment('{{ this._id }}')" class="fa fa-trash-o marginLeft hoverLink" aria-hidden="true"></i>
            </span>
            {{/if}}
            <i onClick="subComment('{{ this._id}}')" class="fa fa-comments marginLeft hoverLink" aria-hidden="true"></i>
        </span>
        {{!-- TODO user avatar of person who commented --}}
        <p> {{ this.datePosted }} </p>
        <img src="{{ this.avatar }}" class="avatar" alt="Comment creator" />
        <p class="content" data-original="{{ this.content }}"> {{{ contentToHtml this.content }}} </p>
        <ul class="nav nav-pills">
            <li>
                <i onclick="likeComment(event, '{{ this._id }}')" class="fa fa-thumbs-up hoverLink" aria-hidden="true"></i>
                <span class="badge">{{ this.likes.length }}</span>
            </li>
            <li>
                <i onclick="dislikeComment(event, '{{ this._id }}')" class="fa fa-thumbs-down marginLeft hoverLink" aria-hidden="true"></i>
                <span class="badge">{{ this.dislikes.length }}</span>
            </li>
        </ul>
    </div>
    <form class="form-horizontal marginTop" style="display:none;" action="/forums/{{ forum_id }}/comments" method="POST">
        <input type="hidden" name="parentCommentId" value="{{ this._id }}" />
        <div class="form-group">
            <div class="col-sm-12">
                <textarea class="form-control ldt"
                    aria-label="New Comment"
                    name="comment"
                    id="comment-{{this._id}}"
                    placeholder="Checkout these #Suede Sneakers[http://www.hm.com/us/product/72665]&#10;Credit: @Dillon"
                    required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="button" onclick="submitEditComment('{{ _id }}')" class="btn btn-default" value="Submit" />
                <input type="button" onclick="cancelEditComment('{{ _id }}')" class="btn btn-default" value="Cancel" />
            </div>
        </div>
    </form>
    {{!-- subthreads  --}}
    {{#if this.subthreads.length}}
        <ul class="list-group subthread">
            {{#each this.subthreads }}
                {{> comment}}
            {{/each}}
        </ul>
    {{/if}}
</li>
